In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import math
import collections
import itertools

In [6]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
131,tt1840309,85000000,288747895,Divergent,Shailene Woodley|Theo James|Kate Winslet|Miles...,Neil Burger,What makes you different makes you dangerous.,In a world divided into factions based on pers...,139,Action|Science Fiction|Thriller,Summit Entertainment|Red Wagon Entertainment,3/14/2014,6.9,2014
179,tt1791528,20000000,11110975,Inherent Vice,Joaquin Phoenix|Josh Brolin|Owen Wilson|Kather...,Paul Thomas Anderson,"Under the paving stones, the beach!","In Los Angeles at the turn of the 1970s, drug-...",148,Comedy|Romance|Crime|Drama|Mystery,Ghoulardi Film Company|Warner Bros.,12/25/2014,6.3,2014
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,9/7/2013,7.8,2013
1612,tt0296572,105000000,115772733,The Chronicles of Riddick,Vin Diesel|Christina Cox|Colm Feore|Karl Urban...,David Twohy,All the power in the universe can't change des...,Five years after the events in sci-fi film Pit...,119,Adventure|Action|Thriller|Science Fiction,Universal Pictures|One Race Productions|Primal...,6/11/2004,6.2,2004
874,tt0275847,80000000,145771527,Lilo & Stitch,Chris Sanders|Daveigh Chase|Tia Carrere|David ...,Dean DeBlois|Chris Sanders,He's coming to our galaxy.,A lonely Hawaiian girl named Lilo is being rai...,85,Animation,Walt Disney Pictures|Walt Disney Feature Anima...,6/21/2002,6.9,2002

In [72]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,lenfilm
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,15.037057
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,8.552660
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,9.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,13.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,18.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,83.000000

# Предобработка

In [8]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)(380000000)'
# если ответили верно, можете добавить комментарий со значком "+"

In [10]:
# тут пишем ваш код для решения данного вопроса:
data.budget.max()
data[(data.budget == data.budget.max())].imdb_id
data.loc[(data.index[723])]

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                                    5/11/2011
vote_average                                                          6.3
release_year                                                         2011
Name: 723, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)(214)'

In [12]:
data[(data.runtime == data.runtime.max())].imdb_id
data.loc[(data.index[1157])]

imdb_id                                                         tt0279111
budget                                                           56000000
revenue                                                          12923936
original_title                                          Gods and Generals
cast                    Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...
director                                                Ronald F. Maxwell
tagline                               The nations heart was touched by...
overview                The film centers mostly around the personal an...
runtime                                                               214
genres                                                  Drama|History|War
production_companies                   Turner Pictures|Antietam Filmworks
release_date                                                    2/21/2003
vote_average                                                          5.8
release_year                                                         2003
Name: 1157, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = '768. Winnie the Pooh (tt1449283)(63)'
data[(data.runtime == data.runtime.min())].imdb_id
data.loc[(data.index[768])]

imdb_id                                                         tt1449283
budget                                                           30000000
revenue                                                          14460000
original_title                                            Winnie the Pooh
cast                    Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...
director                                        Stephen Anderson|Don Hall
tagline                                                          Oh Pooh.
overview                During an ordinary day in Hundred Acre Wood, W...
runtime                                                                63
genres                                                   Animation|Family
production_companies    Walt Disney Pictures|Walt Disney Animation Stu...
release_date                                                    4/13/2011
vote_average                                                          6.8
release_year                                                         2011
Name: 768, dtype: object

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '109.6585494970884'
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '107.0'
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [45]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)(2544505847)'
data['profit'] = data.revenue - data.budget
data[(data.profit == data.profit.max())].imdb_id
data.loc[(data.index[239])]

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                   12/10/2009
vote_average                                                          7.1
release_year                                                         2009
profit                                                         2544505847
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = '1245. The Lone Ranger (tt1210819)(-165710090)'
data[(data.profit == data.profit.min())].imdb_id
data.loc[(data.index[1245])]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = '1478'
data[(data.revenue > data.budget)].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [19]:
#data[(data.revenue == data.revenue.max())&(data.release_year == 2008)].imdb_id Не работает почему то!!!
answers['9'] = '599.The Dark Knight(tt0468569)'
data[(data.release_year == 2008)].revenue.max()
data.query('revenue in ["1001921825"] & release_year == "2008"')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [20]:
answers['10'] = '1245.The Lone Ranger(tt1210819)'
data[(data.release_year >= 2012)&(data.release_year <= 2014)].profit.min()
data.query('profit in ["-165710090"]')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [21]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [22]:
answers['11'] = 'Drama(782)'
data['genres'] = data.genres.str.split('|',6)
def search() :
    ac = 0    
    ad = 0
    sc = 0
    th = 0
    we = 0
    dr = 0
    co = 0
    an = 0
    ro = 0
    my = 0
    ho = 0
    fo = 0
    fa = 0
    wa = 0
    hi = 0
    for i in range (len(data['genres'])):
        for j in range (len(data['genres'][i])):
            if 'Action' == data['genres'][i][j]:
                ac = ac + 1
            elif 'Adventure' == data['genres'][i][j]:
                ad = ad + 1
            elif 'Science Fiction' == data['genres'][i][j]:
                sc = sc + 1  
            elif 'Thriller' == data['genres'][i][j]:
                th = th + 1    
            elif 'Western' == data['genres'][i][j]:
                we = we + 1    
            elif 'Drama' == data['genres'][i][j]:
                dr = dr + 1 
            elif 'Comedy' == data['genres'][i][j]:
                co = co + 1   
            elif 'Animation' == data['genres'][i][j]:
                an = an + 1 
            elif 'Romance' == data['genres'][i][j]:
                ro = ro + 1  
            elif 'Mystery' == data['genres'][i][j]:
                my = my + 1   
            elif 'Horror' == data['genres'][i][j]:
                ho = ho + 1 
            elif 'Foreign' == data['genres'][i][j]:
                fo = fo + 1  
            elif 'Family' == data['genres'][i][j]:
                fa = fa + 1 
            elif 'War' == data['genres'][i][j]:
                wa = wa + 1  
            elif 'History' == data['genres'][i][j]:
                hi = hi + 1    
    print('Итого:')
    print('Action:=  ',ac)
    print('Adventure:= ',ad)
    print('Science Fiction:= ',sc)
    print('Thriller:= ',th)
    print('Western:= ',we)
    print('Drama:= ',dr)
    print('Comedy:= ',co)
    print('Animation:= ',an)
    print('Romance:= ',ro)
    print('Mystery:= ',my)
    print('Horror:= ',ho)
    print('Foreign:= ',fo)
    print('Family:= ',fa)
    print('War:= ',wa)
    print('History:= ',hi)
search()

Итого:
Action:=   582
Adventure:=  415
Science Fiction:=  248
Thriller:=  596
Western:=  19
Drama:=  782
Comedy:=  683
Animation:=  139
Romance:=  308
Mystery:=  168
Horror:=  176
Foreign:=  2
Family:=  260
War:=  58
History:=  62

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [23]:
answers['12'] = 'Drama(560)'
def searchPro() :
    ac = 0    
    ad = 0
    sc = 0
    th = 0
    we = 0
    dr = 0
    co = 0
    an = 0
    ro = 0
    my = 0
    ho = 0
    fo = 0
    fa = 0
    wa = 0
    hi = 0
    for i in range (len(data['genres'])):
        for j in range (len(data['genres'][i])):
            if data.profit[i] > 0:
                if 'Action' == data['genres'][i][j]:
                    ac = ac + 1
                elif 'Adventure' == data['genres'][i][j]:
                    ad = ad + 1
                elif 'Science Fiction' == data['genres'][i][j]:
                    sc = sc + 1  
                elif 'Thriller' == data['genres'][i][j]:
                    th = th + 1    
                elif 'Western' == data['genres'][i][j]:
                    we = we + 1    
                elif 'Drama' == data['genres'][i][j]:
                    dr = dr + 1 
                elif 'Comedy' == data['genres'][i][j]:
                    co = co + 1   
                elif 'Animation' == data['genres'][i][j]:
                    an = an + 1 
                elif 'Romance' == data['genres'][i][j]:
                    ro = ro + 1  
                elif 'Mystery' == data['genres'][i][j]:
                    my = my + 1   
                elif 'Horror' == data['genres'][i][j]:
                    ho = ho + 1 
                elif 'Foreign' == data['genres'][i][j]:
                    fo = fo + 1  
                elif 'Family' == data['genres'][i][j]:
                    fa = fa + 1 
                elif 'War' == data['genres'][i][j]:
                    wa = wa + 1  
                elif 'History' == data['genres'][i][j]:
                    hi = hi + 1    
    print('Итого:')
    print('Action:=  ',ac)
    print('Adventure:= ',ad)
    print('Science Fiction:= ',sc)
    print('Thriller:= ',th)
    print('Western:= ',we)
    print('Drama:= ',dr)
    print('Comedy:= ',co)
    print('Animation:= ',an)
    print('Romance:= ',ro)
    print('Mystery:= ',my)
    print('Horror:= ',ho)
    print('Foreign:= ',fo)
    print('Family:= ',fa)
    print('War:= ',wa)
    print('History:= ',hi)
searchPro()

Итого:
Action:=   444
Adventure:=  337
Science Fiction:=  195
Thriller:=  446
Western:=  12
Drama:=  560
Comedy:=  551
Animation:=  120
Romance:=  242
Mystery:=  119
Horror:=  150
Foreign:=  0
Family:=  226
War:=  41
History:=  46

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [24]:
answers['13'] = 'Peter Jackson(6490593685)'

data.groupby(['director'])
grouped_data = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
grouped_data

director
Peter Jackson               6490593685
Christopher Nolan           4167548502
David Yates                 4154295625
Michael Bay                 3886938960
J.J. Abrams                 3579169916
Gore Verbinski              3426362290
Steven Spielberg            3386700791
Ridley Scott                3264035909
Francis Lawrence            3179979588
Sam Raimi                   3091066354
Joss Whedon                 2924593677
James Cameron               2798546718
Tim Burton                  2493468396
Chris Columbus              2354968952
Sam Mendes                  2342352791
Shawn Levy                  2218587063
Ron Howard                  2133257991
Steven Soderbergh           2074928588
Roland Emmerich             2000587076
Justin Lin                  1953947074
Clint Eastwood              1900566334
James Wan                   1863441367
M. Night Shyamalan          1779548638
Bill Condon                 1704664544
Rob Marshall                1703605066
Todd Phillips               1682393447
Carlos Saldanha             1645764975
Jon Favreau                 1603296331
Zack Snyder                 1602937193
Raja Gosnell                1582104000
                               ...
David Barrett                  4636169
Paul Johansson                 4627375
Jane Campion                   4440055
Mark Duplass|Jay Duplass       4417580
John Landis                    4349187
Joe Cornish                    3964682
William Dear                   3878993
Peter Bogdanovich              3646994
Dito Montiel                   3639345
Jaco Van Dormael               3547209
RyÃ»hei Kitamura               3533227
Rob Thomas                     3485127
Don McKellar                   3430018
Henry Alex Rubin               3428048
Floria Sigismondi              2995811
Susanne Bier                   2849142
Liev Schreiber                 2697930
Roland JoffÃ©                  2626800
Dan Rush                       2614773
David Mackenzie                2500000
James Cox                      2466444
Michael Cuesta                 2450846
Guillaume Canet                2415472
Zal Batmanglij                 2401510
Adam Wingard                   2367161
David MichÃ´d                  2295423
Steven Shainberg               2281089
Paul Schrader                  2062066
Keanu Reeves                   2054941
Simon Hunter                   2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [51]:
answers['14'] = 'Robert Rodriguez(9)'
data = pd.read_csv('movie_bd_v5.xls')
data['genres'] = data.genres.str.split('|')
data['director'] = data.director.str.split('|')

def searchDi() :
    count = dict()
    s = ''
    s1 = ''
    s2 = 'Action'
    for i in range (len(data.genres)):
        s1 = data.genres[i]
        if s2 in s1: 
            for j in range (len(data.director[i])):
                s = data.director[i][j]
                if s in count:              
                    count[s] = count[s] + 1              
                else :
                    count[s] = 1
    print(count) 
    max_value = max(count.values())
    final_dict = {k: v for k, v in count.items() if v == max_value}
    print(final_dict) 
searchDi()

{'Colin Trevorrow': 1, 'George Miller': 1, 'J.J. Abrams': 4, 'James Wan': 2, 'Alan Taylor': 2, 'Sam Mendes': 2, 'Lana Wachowski': 4, 'Lilly Wachowski': 4, 'Chris Columbus': 1, 'Joss Whedon': 2, 'Olivier Megaton': 4, 'Peyton Reed': 2, 'Brad Bird': 3, 'Antoine Fuqua': 6, 'Brad Peyton': 2, 'Christopher McQuarrie': 1, 'Matthew Vaughn': 3, 'Wes Ball': 2, 'Neill Blomkamp': 3, 'Jaume Collet-Serra': 3, 'Breck Eisner': 3, 'Guy Ritchie': 4, 'Ilya Naishuller': 1, 'Ericson Core': 1, 'Michael Mann': 2, 'Denis Villeneuve': 1, 'Josh Trank': 1, 'Paul Feig': 2, 'Aleksander Bach': 1, 'Ron Howard': 2, 'Andy Fickman': 1, 'John Erick Dowdle': 1, 'Camille Delamarre': 2, 'Pierre Morel': 3, 'Anne Fletcher': 1, 'James Gunn': 1, 'Joe Russo': 1, 'Anthony Russo': 1, 'Chad Stahelski': 1, 'David Leitch': 1, 'Don Hall': 1, 'Chris Williams': 1, 'David Ayer': 3, 'Neil Burger': 1, 'Bryan Singer': 4, 'Luc Besson': 2, 'Jonathan Liebesman': 2, 'Michael Bay': 7, 'Matt Reeves': 2, 'Marc Webb': 2, 'Doug Liman': 3, 'Evan Goldberg': 2, 'Seth Rogen': 2, 'Clint Eastwood': 3, 'Ridley Scott': 6, 'Gareth Edwards': 1, 'Robert Stromberg': 1, 'Roger Donaldson': 2, 'Dean DeBlois': 1, 'Patrick Hughes': 1, 'Phil Lord': 3, 'Christopher Miller': 3, 'Gary Shore': 1, 'Noam Murro': 1, 'Vic Armstrong': 1, 'J.C. Chandor': 2, 'Brett Ratner': 5, 'Tim Story': 4, 'Kenneth Branagh': 2, 'JosÃ© Padilha': 1, 'George Clooney': 1, 'Paul W.S. Anderson': 7, 'Scott Waugh': 2, 'Brian A Miller': 1, 'Steven Quale': 1, 'Adam Wingard': 1, 'Renny Harlin': 4, 'James Cameron': 1, 'Quentin Tarantino': 5, 'Patrick Tatopoulos': 1, 'McG': 3, 'Zack Snyder': 5, 'Roland Emmerich': 5, 'Shane Acker': 1, 'Stephen Sommers': 3, 'Shawn Levy': 3, 'Steve Carr': 1, 'Mark Neveldine': 4, 'Brian Taylor': 4, 'Christian Alvart': 1, 'Alex Proyas': 2, 'Hoyt Yeatman': 1, 'Kevin Macdonald': 1, 'Michael Spierig': 1, 'Peter Spierig': 1, 'Paul McGuigan': 1, 'Dominic Sena': 4, 'James McTeigue': 2, 'Troy Duffy': 1, 'NimrÃ³d Antal': 2, 'Paul Weitz': 1, 'David Bowers': 1, 'Justin Lin': 4, 'Daniel Barber': 1, 'Jonathan Mostow': 3, 'Andrzej Bartkowiak': 5, 'Michael J. Bassett': 1, 'Gavin Hood': 2, 'Christopher Nolan': 4, 'Jon Favreau': 3, 'Pierre Coffin': 1, 'Chris Renaud': 1, 'Sylvester Stallone': 2, 'Joseph Kosinski': 2, 'Phillip Noyce': 1, 'Florian Henckel von Donnersmarck': 1, 'Mike Newell': 1, 'Louis Leterrier': 5, 'Jon Turteltaub': 3, 'Edgar Wright': 2, 'Tony Scott': 5, 'Joe Carnahan': 3, 'Robert Schwentke': 2, 'Robert Rodriguez': 9, 'Ethan Maniquis': 1, 'Albert Hughes': 1, 'Allen Hughes': 1, 'Tom McGrath': 1, 'M. Night Shyamalan': 3, 'Adam McKay': 1, 'Miguel Sapochnik': 1, 'James Mangold': 2, 'Andy Tennant': 1, 'Paul Greengrass': 5, 'Harald Zwart': 3, 'Jonathan Lynn': 1, 'Jimmy Hayward': 1, 'Robert Luketic': 1, 'John Luessenhop': 1, 'Kevin Smith': 1, 'Neil Marshall': 2, 'Jorma Taccone': 1, 'Brian Levant': 1, 'Stuart Beattie': 1, 'Kevin Munroe': 2, 'Peter Jackson': 5, 'Simon West': 4, 'Tim Burton': 1, 'Brian Helgeland': 1, 'John A. Davis': 1, 'Chris Nahon': 1, 'Peter Howitt': 2, 'Hironobu Sakaguchi': 1, 'Motonori Sakakibara': 1, 'John Moore': 4, 'Rod Lurie': 1, 'Lee Tamahori': 5, 'Gore Verbinski': 5, 'John Herzfeld': 1, 'Ivan Reitman': 1, 'Frank Oz': 2, 'Demian Lichtenstein': 1, 'John Carpenter': 1, 'Bobby Farrelly': 1, 'Peter Farrelly': 1, 'Rob Cohen': 5, 'Barry Levinson': 1, 'Luke Greenfield': 1, 'Les Mayfield': 1, 'Henry Selick': 1, 'Rob Pritts': 1, 'Joe Johnston': 2, 'Peter Hyams': 2, 'Ernest R. Dickerson': 1, 'DJ Pooh': 1, 'Steven Spielberg': 4, 'Marc Forster': 3, 'Eric Brevig': 1, 'Timur Bekmambetov': 2, 'Peter Berg': 5, 'Ben Stiller': 1, 'D.J. Caruso': 3, 'Jeff Wadlow': 1, 'David Gordon Green': 2, 'Lexi Alexander': 1, 'Pete Travis': 2, 'Peter Segal': 1, 'Mathieu Kassovitz': 1, 'Rob Minkoff': 1, 'Jon Avnet': 1, 'Dennis Dugan': 1, 'Edward Zwick': 3, 'Howard McCain': 1, 'Oxide Pang Chun': 1, 'Danny Pang': 1, 'Frank Miller': 2, 'Craig Mazin': 1, 'Jason Friedberg': 2, 'Aaron Seltzer': 2, 'Simon Hunter': 1, 'Nicolas Winding Refn': 1, 'Rob Marshall': 2, 'Rupert Wyatt': 1, 'Andrew Niccol': 2, 'Patrick Lussier': 1, 'Martin Campbell': 4, 'Gary McKendry': 1, 'Scott Stewart': 1, 'John Singleton': 4, 'Tarsem Singh': 1, 'Chris Gorak': 1, 'Chris Miller': 1, 'Michel Gondry': 1, 'Marcus Nispel': 2, 'Oliver Parker': 1, 'Joe Cornish': 1, 'Joe Wright': 1, 'John Michael McDonagh': 1, 'Alister Grierson': 1, 'Sean McNamara': 1, 'Ruben Fleischer': 2, 'John Whitesell': 1, 'Benny Chan': 1, 'Sam Raimi': 3, 'George Lucas': 2, 'Barry Sonnenfeld': 3, 'Corey Yuen Kwai': 1, 'Guillermo del Toro': 3, 'Andrew Davis': 2, 'Stuart Baird': 1, 'Kurt Wimmer': 1, 'Jay Roach': 1, 'Jim Gillespie': 1, 'Chuck Russell': 1, 'Betty Thomas': 1, 'Randall Wallace': 1, 'Ron Shelton': 1, 'Simon Wells': 1, 'Walter Hill': 2, 'John Woo': 3, 'Roger Michell': 1, 'Michael Apted': 1, 'Rob Bowman': 2, 'Tom Dey': 1, 'Joel Schumacher': 1, 'Luis Mandoki': 1, 'Tamra Davis': 1, 'Ron Underwood': 1, 'Kevin Bray': 1, 'Malcolm D. Lee': 1, 'MÃ¥ns MÃ¥rlind': 1, 'BjÃ¶rn Stein': 1, 'Tony Gilroy': 1, 'Mark Andrews': 1, 'Steve Purcell': 1, 'Brenda Chapman': 1, 'Ang Lee': 2, 'Len Wiseman': 4, 'Boaz Yakin': 1, 'Andrew Stanton': 1, 'Rian Johnson': 1, 'Mike McCoy': 1, 'Baltasar KormÃ¡kur': 2, 'Stephen St. Leger': 1, 'James Mather': 1, 'Daniel Espinosa': 1, 'Asger Leth': 1, 'Mabrouk El Mechri': 1, 'Dan Bradley': 1, 'Julie Anne Robinson': 1, 'Anthony Hemingway': 1, 'David Koepp': 1, 'David Barrett': 1, 'Mark Steven Johnson': 2, 'Stephen Norrington': 1, 'F. Gary Gray': 2, 'Jan de Bont': 1, 'Jon Amiel': 1, 'David Dobkin': 2, 'Clark Johnson': 2, 'Richard Donner': 2, 'John McTiernan': 1, 'William Friedkin': 2, 'Uwe Boll': 3, 'Shane Black': 1, 'Francis Lawrence': 2, 'David Twohy': 3, 'Tommy Wirkola': 1, 'Carl Rinsch': 1, 'Gary Fleder': 1, 'Mikael HÃ¥fstrÃ¶m': 1, 'Taylor Hackford': 1, 'Steven Knight': 1, 'Spike Lee': 1, 'Dito Montiel': 1, 'Keanu Reeves': 1, 'Courtney Solomon': 2, 'Fyodor Bondarchuk': 1, 'Karyn Kusama': 1, 'Adam Shankman': 1, 'John Stockwell': 1, 'Sydney Pollack': 1, 'Terry Gilliam': 1, 'Jay Chandrasekhar': 1, 'Richard Shepard': 1, 'John Dahl': 1, 'Bruce Hunt': 1, 'Alfonso CuarÃ³n': 1, 'Stefen Fangmeier': 1, 'Mel Gibson': 1, 'Bruce Beresford': 1, 'Wolfgang Petersen': 1, 'David R. Ellis': 2, 'Jeff Tremaine': 1, 'John Bonito': 1, 'Geoffrey Sax': 1, 'Tony Bill': 1, 'Wayne Kramer': 1, 'Sanjay Gadhvi': 1, 'Phil Joanou': 1, 'Alexander Witt': 1, 'David S. Goyer': 2, 'Bibo Bergeron': 1, 'Vicky Jenson': 1, 'Rob Letterman': 1, 'Kerry Conran': 1, 'Oliver Stone': 1, 'Jonathan Hensleigh': 1, 'Pitof': 1, 'Philip Kaufman': 1, 'Trey Parker': 1, 'Steven Brill': 1, 'Frank Coraci': 1, 'Paul Abascal': 1, 'Joseph Kahn': 1, 'David Mamet': 1, 'Jay Russell': 1, 'Robert Redford': 1, 'Philip G. Atwell': 1, 'Michael Davis': 1, 'Xavier Gens': 1, 'Eli Roth': 1, 'Rob Zombie': 1, 'Jason Eisener': 1, 'Dave Meyers': 1, 'Russell Mulcahy': 1, 'Andrew Dominik': 1, 'Doug Lefler': 1, 'David Leland': 1, 'Feng Xiaogang': 1, 'Ben Garant': 1, 'Joel Coen': 1, 'Donald Petrie': 1, 'Paul Verhoeven': 1, 'Roger Spottiswoode': 1, 'Antony Hoffman': 1, 'Stephen T. Kay': 1, 'Don Bluth': 1, 'Gary Goldman': 1, 'Christian Duguay': 1, 'Douglas Aarniokoski': 1, 'Gina Prince-Bythewood': 1, 'Brian Robbins': 1, 'Des McAnuff': 1}
{'Robert Rodriguez': 9}

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [27]:
answers['15'] = 'Chris Hemsworth: 2027450773'
data['cast'] = data.cast.str.split('|')
def poiskCa () :
    count = dict()
    count2 = dict()
    s = ''
    d = 0
    data4 = data.copy()
    for i in range (len(data)):
        if data.release_year[i] == 2012 :
            for j in range (len(data.cast[i])) :
                s = data.cast[i][j]
                if s in count :
                    count[s] = count[s] + 1
                    count2[s] = count2[s] + data.revenue[i]
                else :
                    count[s] = 1
                    count2[s] = data.revenue[i]
    sorted_values = sorted(count.values()) # Sort the values
    sorted_dict = {}

    for l in sorted_values:
        for k in count.keys():
            if count[k] == l:
                sorted_dict[k] = count[k]
                break                
    print(sorted_dict)            
    #print(len(count)) 
    #print(count)
    sorted_values2 = sorted(count2.values()) # Sort the values
    sorted_dict2 = {}

    for l in sorted_values2:
        for k in count2.keys():
            if count2[k] == l:
                sorted_dict2[k] = count2[k]
                break                
    print(sorted_dict2) 
    max_value = max(sorted_dict2.values())
    final_dict = {k: v for k, v in sorted_dict2.items() if v == max_value}
    print(final_dict)          
poiskCa ()

{'Robert Downey Jr.': 1, 'Michael Ealy': 2, 'Kate Beckinsale': 3, 'Chris Hemsworth': 4, 'Bruce Willis': 5}
{'Nicolas Cage': 2106557, 'Jason Bateman': 3428048, 'Josh Duhamel': 4636169, 'Sarah Gadon': 6063556, 'Timothy Spall': 8106475, 'Matt Damon': 8138788, 'Danielle Panabaker': 8493728, 'Garrett Hedlund': 8784318, 'Eva Longoria': 9622846, 'Ashley Greene': 9627492, 'Victoria Justice': 11417362, 'Mark Duplass': 12434778, 'Zoe Saldana': 13231461, 'Henry Cavill': 16863583, 'Kirsten Dunst': 16890793, 'Sam Rockwell': 19422261, 'Eddie Murphy': 22044277, 'Jennifer Aniston': 24159934, 'Whitney Houston': 24637469, 'Drew Barrymore': 24719215, 'Olivia Wilde': 25666239, 'Malin Ã…kerman': 26266491, 'Joaquin Phoenix': 28258060, 'John Cusack': 29657751, 'Tyler Perry': 30353232, 'Michael Shannon': 31083599, 'Joseph Gilgun': 32204030, 'Katy Perry': 32726956, 'John Krasinski': 32858003, 'Gina Carano': 33372606, 'Logan Lerman': 33400000, 'Richard Gere': 35485056, 'Katherine Heigl': 36893721, 'Brad Pitt': 37930465, 'Chris Sarandon': 40346186, 'Karl Urban': 41037742, 'Isabel Lucas': 44806783, 'Jamie Bell': 46221189, 'Blake Lively': 47000000, 'Paul Dano': 47042000, 'Jake Gyllenhaal': 48126384, 'Cuba Gooding Jr.': 50365377, 'Adelaide Clemens': 52302796, 'Shia LaBeouf': 53676580, 'Alison Brie': 53909751, 'Sean Hayes': 54819301, 'Eva Amurri Martino': 58058367, 'Diego Boneta': 59418613, 'Maggie Smith': 59520298, 'Ben Foster': 63100000, 'Kristen Connolly': 66486080, 'Jared Gilman': 68263166, 'Devon Bostick': 77112176, 'Joseph Gordon-Levitt': 78125599, 'Cameron Diaz': 79700000, 'Roselyn SÃ¡nchez': 81272766, 'Charlie Tahan': 81491068, 'Natasha Calis': 85446075, 'Leslie Mann': 88058786, 'Susan Sarandon': 93543423, 'Jerry Ferrara': 96070507, 'Oliver Cooper': 100000000, 'Emily Blunt': 100951751, 'Kodi Smit-McPhee': 107139399, 'Benjamin Walker': 112265139, 'Meryl Streep': 114281051, 'Skylar Astin': 115350426, 'Hugh Grant': 118338361, 'Billy Crystal': 119772232, 'Daniel Radcliffe': 127730736, 'Jeffrey Dean Morgan': 130252858, 'Tom Hanks': 130482868, 'Stephen Rea': 132400000, 'Jason Clarke': 132820716, 'Jim Sturgess': 138589343, 'Kathryn McCormick': 140470746, 'Jason Segel': 141968537, 'Katie Featherston': 142817992, 'Dane DeHaan': 145000000, 'Paul Rudd': 145618720, 'Salma Hayek': 165338361, 'Matthew McConaughey': 167221571, 'Sayed Badreya': 179379533, 'Naomi Watts': 180274123, 'Julia Roberts': 183018522, 'Jessica Chastain': 186497296, 'Chris Pratt': 186730467, 'Rachel McAdams': 196114570, 'Jessica Biel': 198802074, 'Jonah Hill': 201585328, 'Robert De Niro': 205738714, 'Denzel Washington': 208076205, 'Ewan McGregor': 213646729, 'Colin Farrell': 218224335, 'Richard Jenkins': 218340595, 'Bradley Cooper': 218970175, 'Michael Ealy': 228470507, 'Ben Affleck': 232324128, 'Jason Biggs': 234989584, 'Milla Jovovich': 240159255, 'Johnny Depp': 245527149, 'Michelle Pfeiffer': 257961927, 'Megan Fox': 267438319, 'David Oyelowo': 268705972, 'Jeremy Renner': 276572938, 'Tom Cruise': 277759208, 'Lynn Collins': 284139100, 'Edgar RamÃ\xadrez': 301000000, 'Alexander SkarsgÃ¥rd': 303025485, 'Jude Law': 306941670, 'Sylvester Stallone': 312573423, 'Chris Pine': 319376448, 'Edward Norton': 344836104, 'Sam Worthington': 347221189, 'Zac Efron': 348840316, 'Anna Kendrick': 350316209, 'Jason Statham': 352919609, 'Dwayne Johnson': 355692760, 'Brendan Gleeson': 356072317, 'Steve Buscemi': 358375603, 'Alec Baldwin': 366360283, 'Famke Janssen': 376141306, 'Brooklyn Decker': 382725485, 'Kate Beckinsale': 394302074, 'Sam Claflin': 396600000, 'Noomi Rapace': 403170142, 'Maggie Grace': 408345336, 'CiarÃ¡n Hinds': 411869836, 'Adam Sandler': 416433970, 'Mark Strong': 416959816, 'Jamie Foxx': 425368238, 'Michael Fassbender': 436542748, 'Russell Crowe': 441809770, 'Kerry Washington': 447412515, 'Bruce Willis': 449378341, 'John C. Reilly': 471222889, 'Guy Pearce': 489050752, 'Rosamund Pike': 519340595, 'Jane Lynch': 526042190, 'Kelly Macdonald': 538983207, 'Bryan Cranston': 540910192, 'Mila Kunis': 549368315, 'Channing Tatum': 598294075, 'Billy Connolly': 598503505, 'Suraj Sharma': 609016565, 'Mark Wahlberg': 612468315, 'Will Smith': 624026776, 'Taylor Kitsch': 634164585, 'Liam Neeson': 677141306, 'Liam Hemsworth': 691210692, 'Woody Harrelson': 710632953, 'Tommy Lee Jones': 738307827, 'Ben Stiller': 746921274, 'Hugh Jackman': 748751440, 'Andrew Garfield': 752215857, 'Frances McDormand': 755060062, 'Charlize Theron': 799770142, 'Rhys Ifans': 806125608, 'Taylor Lautner': 829000000, 'Elizabeth Banks': 829566659, 'Robert Pattinson': 835063556, 'Ray Romano': 877244782, 'Jennifer Lawrence': 896949406, 'John Leguizamo': 914138503, 'Ian McKellen': 1017003568, 'Christian Bale': 1081041287, 'Josh Hutcherson': 1091710235, 'Daniel Craig': 1108561013, 'Seann William Scott': 1112234366, 'Tom Hardy': 1134717867, 'Emma Thompson': 1163009983, 'Kristen Stewart': 1234384318, 'Sacha Baron Cohen': 1368110577, 'Ralph Fiennes': 1409561013, 'Robert Downey Jr.': 1519557910, 'Anne Hathaway': 1522851057, 'Denis Leary': 1629460639, 'Chris Hemsworth': 2027450773}
{'Chris Hemsworth': 2027450773}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [74]:
answers['16'] = 'Matt Damon: 18'
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data.cast.str.split('|')
def poiskCast () :
    count = dict()
    s = ''
    d = data.budget.mean()
    for i in range (len(data)):
        if (data.budget[i] > d) :
            for j in range (len(data.cast[i])) :
                s = data.cast[i][j]
                if s in count :
                    count[s] = count[s] + 1
                    
                else :
                    count[s] = 1
                    
    sorted_values = sorted(count.values()) # Sort the values
    sorted_dict = {}

    for l in sorted_values:
        for k in count.keys():
            if count[k] == l:
                sorted_dict[k] = count[k]
                break                
    print(sorted_dict)            
    #print(len(count)) 
    #print(count)
    max_value = max(sorted_dict.values())
    final_dict = {k: v for k, v in sorted_dict.items() if v == max_value}
    print(final_dict)         
poiskCast ()

{"Vincent D'Onofrio": 1, 'Chris Pratt': 2, 'Bryce Dallas Howard': 3, 'Tom Hardy': 4, 'Michelle Rodriguez': 5, 'Kate Winslet': 6, 'Harrison Ford': 7, 'Charlize Theron': 8, 'Ralph Fiennes': 9, 'Vin Diesel': 10, 'Leonardo DiCaprio': 11, 'Dwayne Johnson': 12, 'Johnny Depp': 13, 'Mark Wahlberg': 14, 'Tom Cruise': 15, 'Angelina Jolie': 16, 'Adam Sandler': 17, 'Matt Damon': 18}
{'Matt Damon': 18}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [57]:
answers['17'] = 'Action:= 17 '
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data.cast.str.split('|')
data['genres'] = data.genres.str.split('|')
def poiskCast () :
    count = dict()
    count2 = dict()
    s = ''
    s2 = ''
    s1 = 'Nicolas Cage'
    for i in range (len(data)):
        s = data.cast[i]
        if s1 in s :
            for j in range (len(data.genres[i])) :
                s2 = data.genres[i][j]
                if s2 in count :
                    count[s2] = count[s2] + 1
                else :
                    count[s2] = 1
                
    print(count)                    
    max_value = max(count.values())
    final_dict = {k: v for k, v in count.items() if v == max_value}
    print(final_dict) 
poiskCast ()

{'Thriller': 15, 'Action': 17, 'Science Fiction': 4, 'Adventure': 7, 'Drama': 12, 'Mystery': 3, 'Crime': 10, 'Animation': 3, 'Family': 3, 'Fantasy': 8, 'Comedy': 6, 'History': 2, 'War': 1, 'Horror': 1, 'Romance': 1}
{'Action': 17}

# 18. Самый убыточный фильм от Paramount Pictures

In [30]:
answers['18'] = 'K-19: The Widowmaker(-64831034)'
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data.cast.str.split('|')
data['genres'] = data.genres.str.split('|')
data['production_companies'] = data.production_companies.str.split('|')
data['profit'] = data.revenue - data.budget
def poiskCast () :
    count = dict()
    count2 = dict()
    s = ''
    s1 = ''
    s2 = ''
    s3 = ''
    str = ''
    d = data.profit.min()
    m = 0
    n = 0
    for i in range (len(data)):
        for j in range (len(data.production_companies[i])) :
            if 'Paramount Pictures' == data['production_companies'][i][j] :     
                s = data.production_companies[i][j]
                n = (data.profit[i])
                
                s2 = data.original_title[i]
                
                count[m] = n
                m += 1
    #print(len(count)) 
    #print(count)
    sorted_values2 = sorted(count.values()) # Sort the values
    sorted_dict2 = {}

    for l in sorted_values2:
        for k in count.keys():
            if count[k] == l:
                sorted_dict2[k] = count[k]
                break                
    print(sorted_dict2) 
    min_value = min(sorted_dict2.values())
    final_dict = {k: v for k, v in sorted_dict2.items() if v == min_value}
    print(final_dict)           
poiskCast ()         
data.query('profit in ["-64831034"]')

{54: -64831034, 71: -60519261, 115: -51788987, 105: -46604061, 107: -24805000, 33: -20750706, 38: -20180936, 62: -17955723, 23: -15809131, 58: -14280643, 110: -14000000, 59: -12069815, 102: -12041304, 88: -10730514, 80: -9695999, 12: -9450893, 85: -7517225, 98: -6600039, 55: -5117355, 82: -4965111, 63: -2582638, 32: 3069884, 90: 4252847, 86: 6442528, 49: 7312826, 31: 8222729, 45: 10939027, 121: 11000000, 106: 12000000, 56: 12793283, 13: 14171130, 69: 14208267, 46: 15247881, 44: 15770160, 104: 16105964, 24: 17387857, 108: 18907422, 113: 19785914, 4: 20248241, 65: 20726956, 95: 21779000, 26: 26976270, 89: 27028752, 27: 32780981, 112: 34696996, 9: 35500000, 72: 36269812, 30: 37498534, 92: 38715192, 51: 39660784, 29: 45178561, 84: 46669806, 83: 47374674, 93: 48197993, 57: 49141030, 53: 49935764, 109: 50631118, 15: 55258983, 52: 59282312, 79: 61175291, 120: 61196498, 68: 61505388, 97: 61778712, 111: 65560026, 5: 68099553, 101: 69073645, 37: 72839667, 50: 83846072, 96: 84937680, 67: 96282949, 114: 97760134, 94: 99945894, 1: 105346506, 87: 108320568, 103: 110161792, 43: 110724603, 99: 112042871, 61: 114379533, 66: 116070171, 40: 122780440, 78: 123649015, 116: 125735876, 70: 127371441, 16: 127469017, 28: 135388341, 77: 136831537, 64: 137817992, 18: 138670000, 10: 143400000, 36: 145764026, 100: 152764291, 60: 158340595, 25: 159703340, 22: 168502923, 76: 174803475, 35: 183932083, 3: 190360392, 48: 200703818, 42: 210095987, 21: 210650585, 20: 214276927, 19: 214804195, 14: 235680446, 6: 237594032, 11: 237637473, 41: 241940071, 91: 247850012, 74: 277365246, 0: 285603537, 73: 292000694, 119: 304111707, 75: 331865000, 8: 352200000, 118: 421388105, 7: 456752480, 81: 459739379, 2: 532330139, 39: 549713380, 117: 559709780, 34: 601636033, 17: 686297228, 47: 928746996}
{54: -64831034}

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]","[Paramount Pictures, Intermedia Films, Nationa...",7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [31]:
answers['19'] = '2015'
data.groupby(['release_year'])
d = data.groupby(['release_year'])['revenue'].sum()
display(d)

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2004    15663430720
2005    15309425558
2006    14775042320
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [60]:
answers['20'] = '2015'
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data.cast.str.split('|')
data['genres'] = data.genres.str.split('|')
data['production_companies'] = data.production_companies.str.split('|')
data['profit'] = data.revenue - data.budget
def poiskCast () :
    count = dict()
    d = ''
    n = 0
    s = 'Warner Bros.'
    s1 = ''
    for i in range (len(data)):
        s1 = data.production_companies[i]
        if s in s1 :
            d = data.release_year[i]
            if d in count:
                
                count[d] = data.profit[i]
            
            else :
                count[d] = data.profit[i] 
               
    #print(len(count)) 
    #print(count)
    sorted_values2 = sorted(count.values()) # Sort the values
    sorted_dict2 = {}

    for l in sorted_values2:
        for k in count.keys():
            if count[k] == l:
                sorted_dict2[k] = count[k]
                break                
    print(sorted_dict2) 

    
    max_value = max(sorted_dict2.values())
    final_dict = {k: v for k, v in sorted_dict2.items() if v == max_value}
    print(final_dict)               
poiskCast ()

{2006: -32714831, 2001: -14306109, 2000: -11627590, 2003: -11485156, 2005: -9775758, 2012: -7372508, 2002: -7258268, 2010: -5098661, 2014: -2514873, 2011: 5735397, 2004: 6546197, 2008: 7739015, 2007: 22771059, 2013: 55020213, 2009: 62233971, 2015: 66511453}
{2015: 66511453}

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [33]:
answers['21'] = '9 - Сентябрь'
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data.cast.str.split('|')
data['genres'] = data.genres.str.split('|')
data['release_date'] = data.release_date.str.split('/')
data['production_companies'] = data.production_companies.str.split('|')
data['profit'] = data.revenue - data.budget
def poiskCast () :
    count = dict()
    count2 = dict()
    d = 0
    for i in range (len(data)):                
        d = data.release_date[i][0]
        if d in count:
            count[d] = count[d] + 1
        else :
            count[d] = 1
                
    
                
    #print(len(count)) 
    #print(count)
    sorted_values2 = sorted(count.values()) # Sort the values
    sorted_dict2 = {}

    for l in sorted_values2:
        for k in count.keys():
            if count[k] == l:
                sorted_dict2[k] = count[k]
                break                
    print(sorted_dict2) 
    max_value = max(sorted_dict2.values())
    final_dict = {k: v for k, v in sorted_dict2.items() if v == max_value}
    print(final_dict)           
poiskCast ()

{'1': 110, '2': 135, '5': 140, '7': 142, '11': 146, '6': 147, '4': 149, '3': 156, '8': 161, '10': 186, '12': 190, '9': 227}
{'9': 227}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [34]:
answers['22'] = '450'
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data.cast.str.split('|')
data['genres'] = data.genres.str.split('|')
data['release_date'] = data.release_date.str.split('/')
data['production_companies'] = data.production_companies.str.split('|')
data['profit'] = data.revenue - data.budget
def poiskCast () :
    count = dict()
    count2 = dict()
    s = ''
    s1 = ''
    s2 = ''
    s3 = ''
    str = ''
    d = 0
    m = 0
    n = 0
    for i in range (len(data)):        
        #for j in range (len(data.release_date[i])) :          
        d = data.release_date[i][0]
        if (d == '6' or d == '7' or d == '8'):
            if d in count:                    
                count[d] = count[d] + 1
            else :
                count[d] = 1
                
    s = count['6'] + count['7'] + count['8']
    print(s)            
    #print(len(count)) 
    #print(count)
    sorted_values2 = sorted(count.values()) # Sort the values
    sorted_dict2 = {}

    for l in sorted_values2:
        for k in count.keys():
            if count[k] == l:
                sorted_dict2[k] = count[k]
                break                
    print(sorted_dict2)          
poiskCast ()

450
{'7': 142, '6': 147, '8': 161}

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
answers['23'] = 'Peter Jackson : 7'
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data.cast.str.split('|')
data['genres'] = data.genres.str.split('|')
data['release_date'] = data.release_date.str.split('/')
data['production_companies'] = data.production_companies.str.split('|')
def poiskCast () :
    count = dict()
    s = ''
    s1 = ''
    s2 = ''
    s3 = ''    
    d = ''
    for i in range (len(data)):        
        d = data.release_date[i][0]
        if d == '1' or d == '2' or d == '12':
            s1 = data.director[i]
            if s1 in count:
                    count[s1] = count[s1] + 1
            else:
                    count[s1] = 1
                       
    #print(len(count)) 
    #print(count)
    sorted_values2 = sorted(count.values()) # Sort the values
    sorted_dict2 = {}

    for l in sorted_values2:
        for k in count.keys():
            if count[k] == l:
                sorted_dict2[k] = count[k]
                break                
    print(sorted_dict2)  
    max_value = max(sorted_dict2.values())
    final_dict = {k: v for k, v in sorted_dict2.items() if v == max_value}
    print(final_dict)
poiskCast ()

{'J.J. Abrams': 1, 'Quentin Tarantino': 2, 'Ridley Scott': 3, 'Shawn Levy': 4, 'Clint Eastwood': 6, 'Peter Jackson': 7}
{'Peter Jackson': 7}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [69]:
answers['24'] = 'Universal Pictures: 77'
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data.cast.str.split('|')
data['genres'] = data.genres.str.split('|')
data['release_date'] = data.release_date.str.split('/')
data['production_companies'] = data.production_companies.str.split('|')
data['profit'] = data.revenue - data.budget
data['lenfilm'] = data.original_title
def film(name):
# Ваш код ниже
    
    return len(name)
          
data['lenfilm'] = data.original_title.apply(film)

       
def poiskCast () :
    count = dict()
    count2 = dict()
    s = ''
    s1 = ''
    n = 0
    print(data.lenfilm.mean()) 
    for i in range (len(data)) :  
        if data.lenfilm[i] >= math.trunc(data.lenfilm.mean()):
            for j in range (len(data.production_companies[i])) :          
                s = data.production_companies[i][j] 
            
                if s in count:
                    count[s] = count[s] + 1              
                else :
                    count[s] = 1
             
    #print(len(count)) 
    #print(count)
    #print(count[s])
    sorted_values2 = sorted(count.values()) # Sort the values
    sorted_dict2 = {}

    for l in sorted_values2:
        for k in count.keys():
            if count[k] == l:
                sorted_dict2[k] = count[k]
                break                
    print(sorted_dict2)          
poiskCast ()

15.03705664372684
{'Kennedy Miller Productions': 1, 'FilmColony': 2, 'Revolution Sun Studios': 3, 'Lucasfilm': 4, 'Skydance Productions': 5, 'Marvel Studios': 6, 'Temple Hill Entertainment': 7, 'Focus Features': 8, 'TSG Entertainment': 9, 'BBC Films': 10, 'Spyglass Entertainment': 11, 'Legendary Pictures': 12, 'Metro-Goldwyn-Mayer (MGM)': 13, 'The Weinstein Company': 14, 'Screen Gems': 15, 'Fox 2000 Pictures': 16, 'Lionsgate': 17, 'Touchstone Pictures': 19, 'Dune Entertainment': 22, 'Village Roadshow Pictures': 24, 'DreamWorks SKG': 29, 'Relativity Media': 34, 'Walt Disney Pictures': 41, 'New Line Cinema': 45, 'Columbia Pictures': 50, 'Twentieth Century Fox Film Corporation': 52, 'Paramount Pictures': 61, 'Warner Bros.': 68, 'Universal Pictures': 77}

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [68]:
answers['25'] = 'Universal Pictures: 14'
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data.cast.str.split('|')
data['genres'] = data.genres.str.split('|')
data['release_date'] = data.release_date.str.split('/')
data['production_companies'] = data.production_companies.str.split('|')
data['profit'] = data.revenue - data.budget
data['lentagline'] = data.tagline
def film(name):
    
    return (len(name.split()))
          
data['lentagline'] = data.tagline.apply(film)
       
def poiskCast () :
    count = dict()
    s = ''
    n = 0
    print(data.lentagline.max())               
    for i in range (len(data)) :  
        if data.lentagline[i] == math.trunc(data.lentagline.mean()):
            for j in range (len(data.production_companies[i])) :          
                s = data.production_companies[i][j] 
            
                if s in count:
                    count[s] = count[s] + 1              
                else :
                    count[s] = 1
            
             
    #print(len(count)) 
    #print(count)
    #print(count[s])
    sorted_values2 = sorted(count.values()) # Sort the values
    sorted_dict2 = {}

    for l in sorted_values2:
        for k in count.keys():
            if count[k] == l:
                sorted_dict2[k] = count[k]
                break                
    print(sorted_dict2)          
poiskCast ()

49
{'Babieka': 1, 'Pixar Animation Studios': 2, 'Metro-Goldwyn-Mayer (MGM)': 3, 'Alcon Entertainment': 4, 'Lakeshore Entertainment': 5, 'MTV Films': 6, 'Columbia Pictures': 8, 'Relativity Media': 9, 'Warner Bros.': 10, 'New Line Cinema': 11, 'Walt Disney Pictures': 13, 'Universal Pictures': 14}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [38]:
answers['26'] = 'The Dark Knight,12 Years a Slave,Inside Out'
data[(data.vote_average >= data.vote_average.max()*0.97)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [40]:
answers['27'] = 'Daniel Radcliffe,Rupert Grint,8'
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data.cast.str.split('|')
    
def poiskCast () :
    count = dict()
    s = ''
    s1 = ''
    
    for i in range (len(data)):
        if (len(data.cast[i]) >= 2):        
            #for j in range (len(data.cast[i])) :          
            #s = data.production_companies[i][j] 
            #print(data.cast[i])
            #print(list(itertools.combinations(data.cast[i],2)))
            #print('')
            #if s in count:
            s = list(itertools.combinations(data.cast[i],2))
            for j in range (len(s)):
                s1 = s[j]
                if s1 in count:              
                    count[s1] = count[s1] + 1              
                else :
                    count[s1] = 1
            
    sorted_values2 = sorted(count.values()) # Sort the values
    sorted_dict2 = {}

    for l in sorted_values2:
        for k in count.keys():
            if count[k] == l:
                sorted_dict2[k] = count[k]
                break                
    print(sorted_dict2)          
poiskCast ()

{('Chris Pratt', 'Bryce Dallas Howard'): 1, ('Shailene Woodley', 'Theo James'): 2, ('Vin Diesel', 'Paul Walker'): 3, ('Jennifer Lawrence', 'Josh Hutcherson'): 4, ('Adam Sandler', 'Kevin James'): 5, ('Ben Stiller', 'Owen Wilson'): 6, ('Rupert Grint', 'Emma Watson'): 7, ('Daniel Radcliffe', 'Rupert Grint'): 8}

# Submission

In [70]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)(380000000)',
 '2': '1157. Gods and Generals (tt0279111)(214)',
 '3': '768. Winnie the Pooh (tt1449283)(63)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': '239. Avatar (tt0499549)(2544505847)',
 '7': '1245. The Lone Ranger (tt1210819)(-165710090)',
 '8': '1478',
 '9': '599.The Dark Knight(tt0468569)',
 '10': '1245.The Lone Ranger(tt1210819)',
 '11': 'Drama(782)',
 '12': 'Drama(560)',
 '13': 'Peter Jackson(6490593685)',
 '14': 'Robert Rodriguez(9)',
 '15': 'Chris Hemsworth: 2027450773',
 '16': 'Matt Damon: 18',
 '17': 'Action:= 17 ',
 '18': 'K-19: The Widowmaker(-64831034)',
 '19': '2015',
 '20': '2015',
 '21': '9 - Сентябрь',
 '22': '450',
 '23': 'Peter Jackson : 7',
 '24': 'Universal Pictures: 77',
 '25': 'Universal Pictures: 14',
 '26': 'The Dark Knight,12 Years a Slave,Inside Out',
 '27': 'Daniel Radcliffe,Rupert Grint,8'}

In [71]:
# и убедиться что ни чего не пропустил)
len(answers)

27